@model IEnumerable<string>

<h1>You are now in Folder - "@Model.FirstOrDefault()"</h1>
<ul>
    <li>@Html.ActionLink("←Go to root", "Index", new { })</li>
@foreach (string item in Model.Skip(1)){
        <li>@Html.ActionLink(item, "Index", new { name = item })</li>
}
</ul>
@Html.ActionLink("Download", "GenerateAndDownloadTXTFile", new { })
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Import from file" />
}
